@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/bulma.sass';

.card-content {
  padding: .9rem;
}

.card {
  margin: 2rem 0;
}

.card-footer-item {
  white-space: pre;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.field {
  flex-direction: column;
}

.field-body {
  flex-wrap: wrap;
}